---
import Layout from "@layouts/Layout.astro"
import SiteHeader from "@components/SiteHeader.astro"
import SiteSidebar from "@components/SiteSidebar.astro"
import CodePanelShell from "@components/CodePanelShell.astro"
import WelcomeChrome from "@components/WelcomeChrome.astro"
import AlgoViz from "@components/AlgoViz"
import { defaultLocale } from "@/i18n/translations"
import { getHomeStructuredData } from "@lib/seo"

const canonicalURL = new URL("/", Astro.site).href
---

<Layout
  locale={defaultLocale}
  canonicalURL={canonicalURL}
  structuredData={getHomeStructuredData(defaultLocale, canonicalURL)}
>
  <div class="h-screen flex flex-col overflow-hidden">
    <SiteHeader locale={defaultLocale} />
    <div class="flex-1 flex overflow-hidden min-h-0 relative">
      <SiteSidebar locale={defaultLocale} />
      <AlgoViz locale={defaultLocale} client:load>
        <WelcomeChrome locale={defaultLocale} slot="welcome-chrome" />
      </AlgoViz>
      <CodePanelShell locale={defaultLocale} initialCollapsed={true} />
    </div>
  </div>
</Layout>
