---
import Layout from "@layouts/Layout.astro"
import SiteHeader from "@components/SiteHeader.astro"
import SiteSidebar from "@components/SiteSidebar.astro"
import CodePanelShell from "@components/CodePanelShell.astro"
import WelcomeHome from "@components/WelcomeHome.astro"
import { defaultLocale } from "@/i18n/translations"
import { getHomeStructuredData } from "@lib/seo"

const canonicalURL = new URL("/", Astro.site).href
---

<Layout
  locale={defaultLocale}
  canonicalURL={canonicalURL}
  ogImage="/og/default.jpg"
  structuredData={getHomeStructuredData(defaultLocale, canonicalURL)}
>
  <div class="h-screen flex flex-col overflow-hidden">
    <SiteHeader locale={defaultLocale} />
    <div class="flex-1 flex overflow-hidden min-h-0 relative">
      <SiteSidebar locale={defaultLocale} />
      <main
        id="main-content"
        class="flex-1 flex flex-col overflow-hidden min-w-0"
        aria-label="Algorithm visualization"
      >
        <WelcomeHome locale={defaultLocale} />
      </main>
      <CodePanelShell locale={defaultLocale} initialCollapsed={true} />
    </div>
  </div>
</Layout>
